RewriteEngine On

RewriteBase /

RewriteRule ^admin/ blog/Autoload/index.php?app=Backend [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.*)$ blog/Autoload/index.php?app=Frontend [QSA,L]

