<?xml version="1.0" encoding="utf-8" ?>
	<routes>
		<route url="/test/Autoload/" module="News" action="index" />
		<route url="/test/Autoload/news-([0-9]+)\.html" module="News" action="post" vars="id"/>
		<route url="/test/Autoload/comment-news-([0-9]+)\.html" module="News" action="insertComment" vars="news"></route>
		<route url="/test/Autoload/warning-comment-([0-9]+)\.html" module="News" action="warningComment" vars="id"></route>
		<route url="/test/Autoload/all-post\.html" module="News" action="allPost"></route>
	</routes>