<?xml version="1.0" encoding="utf-8" ?>
	<routes>
		<route url="/blog/Autoload/" module="News" action="index" />
		<route url="/blog/Autoload/news-([0-9]+).html" module="News" action="post" vars="id"/>
		<route url="/blog/Autoload/comment-news-([0-9]+).html" module="News" action="insertComment" vars="news"></route>
		<route url="/blog/Autoload/warning-comment-([0-9]+).html" module="News" action="warningComment" vars="id"></route>
		<route url="/blog/Autoload/all-post.html" module="News" action="allPost"></route>

		<route url="/blog/Autoload/inscription.html" module="News" action="inscription"></route>
		<route url="/blog/Autoload/connexion.html" module="News" action="connexion"></route>
	</routes>