/*Partie Frontend
***********************/

/*PARTIE HEADER
*****************/
header{
    width: 100%;
    height: 100px;
}

header .container-header{ /*Il contient le logo et le menu de navigation*/
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.logo{
    margin: 1% 0% 0% 15%;
}

.header_nav{
    width: 37%;
}

.header_nav ul li{
    color: #87898d;
    margin-right: 20px;
    padding: 30px 15px 0px 15px;
}
/*FIN HEADER
****************/

/*PARTIE BANNIERE
*******************/
#banniere{
	background-color: green;
	position: relative;
	width: 100%;
	height: 600px;
}

.ban{
	display: flex;
    width: 100%;
    min-width: 100%;
    height: 100%;
}

.ban img{
	width: 100%;
    min-width: 100%;
    height: 100%;
    max-height: 100%;
}

/*PARTIE BANNIERE
*******************/

/*PARTIE NEWS
*******************/

.section-container{
	background-color: rgb(211, 236, 250);
	height: auto;
}

.contenu{
	height: 400px;
	border: 2px solid rgb(113, 162, 202);
	background: #ffffff;
	margin: 90px;
}

h2{
	font-size: 1.7em;
	text-align: center;
	margin-bottom: 10px;
}

.container-comment{
	display: flex;
	flex-direction: column;
}

.info-author{
	font-weight: bold;
}

/*PARTIE NEWS
*******************

/*Fin Partie Frontend
***********************/

/*Partie Backend
****************/ 

.title-admin{
	text-align: center;
	margin-bottom: 4%;
}

.informations{
	display: flex;
	justify-content: space-around;
}

.informations h2{
	text-align: inherit;
	font-size: 1.4em;
	padding: 10px;
	color: #F9FFF8;
	font-weight: bold;
}

.news, .comments{
	background: #228BE6;
	width: 300px;
	height: 150px;
}


.number{

	font-size: 2em;
	color: #F9FFF8;
	padding: 10px;
}

.all-resume, .warning-comments{
	margin-top: 4%;
	text-align: center;
}

.all-resume table, .warning-comments table{
	margin: auto;
	width: 100%;
}

th{
	margin: 6%;
	border-bottom: 2px solid #d9d9d9 
}

td{
	padding: 1%;
}

.fas{
	margin-right: 10px;
}
