/*DEBUT FRONTEND
********************/

/*PARTIE HEADER
******************/

.navbar-brand, .nav-item{
	font-size: 5vw;
}

#navbarSupportedContent ul{
	z-index: 1;
	width: 100%;
	background: #8AD1F9;
	margin-top: 20px; 
}

/*FIN PARTIE HEADER
********************/

/*PARTIE BANNIERE
*******************/

#banniere, .ban{
	height: 300px;
}

.intro{
    top: 35%;
    left: 3%;
}

.intro h1{
    font-size: 9vw;
}

/*FIN PARTIE BANNIERE
**********************/

/*PARTIE NEWS
*******************/

.contenu{
	height: 300px;
	border: 2px solid rgb(113, 162, 202);
	background: #ffffff;
	margin: 60px;
}

.title-index{
	font-size: 1.4em;
	
}

.button{
	margin-left: 20%;
	margin-bottom: 10%;
}
/*FIN NEWS
*******************/

/*DEBUT PAGE UNE NEW
*******************/
.post-text p{
	padding: 10px;
}

.info-post{
	text-align: center;
}

.post-text, .container-comment{
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
}

/*FIN DEBUT PAGE UNE NEW
*******************/

/*FIN FRONTEND
********************/

/*DEBUT FORMULAIRE
**********************/
.title-form, .title-admin{
	font-size: 3em;
	margin-top: 2%;
}

.form{
	border: solid black 2px;
	background: #FBEDE0;
	border-radius: 20px;
	margin-top: 2%;
	margin-bottom: 2%;
}

label{
	font-weight: bold;
	letter-spacing: 1px;
}

.form-group, .btn-primary{
	margin: 6%;
}

/*FIN FORMULAIRE
**********************/

/*DEBUT BACKEND
********************/

/*DEBUT INDEX
*****************/
.informations{
	display: flex;
	flex-direction: column;
}

.news, .comments{
	margin-left: 12%;
	margin-bottom: 15%;
	width: 200px;
}

.author-warning, .comment-warning{
	font-weight: bold;
}

th.author, td.author-warning, 
th.date, td.date-warning, th.action, td.action-warning{
	display: none;
}
/*FIN INDEX
*****************/

/*PAGE TOUT LES ARTICLES
**************************/
.all-resume th.date, .all-resume td.date, 
.all-resume th.action, .all-resume td.action{
	display: none;
}

.all-resume td.title-warning, .all-resume td.comment-warning{
	padding: 15px;
}

.all-resume a{
	margin-bottom: 20px;
}

.title-comments-warning h2{
	font-size: 2.2em;
}
/*FIN PAGE TOUT LES ARTICLES
******************************/

/*PAGE TOUT LES COMMENTAIRES
**************************/
.warning-comments th.author, .warning-comments td.author, 
.warning-comments th.date, .warning-comments td.date,
.warning-comments th.action, .warning-comments td.action{
	display: none;
}

.warning-comments td.title, .warning-comments td.content{
	padding: 15px;
}

.warning-comments td.title{
 	font-size: 1em;
}

/*FIN PAGE TOUT LES COMMENTAIRES
**************************/
footer{
	margin-top: 240px;
}
/*FIN BACKEND
********************/